@CHARSET "UTF-8";
.font_white{
	color : #eee!important;
}
.font_blue {
	color : #4195f5!important;
	
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.col-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.search_header{
	background-color : white!important;
	height:172px;	
}
.search_input{
	text-shadow:none;
	color:white;
	border:3px solid #4195f5;
	color:#333;	
	height: 40px;
}

.search_btn:hover, .search_btn:active { 
    background-color: white;
    border:2px solid #4195f5;
}
.search_btn {
	color:white;
	background-color:#4195f5;
}
.top-buffer { margin-top:20px; }
.top-double-buffer { margin-top:40px; }

.white_bg{
	background-color : white!important;
}
.black_bg{
	background-color : #555!important;
}
.container {height: auto}
.col-centered{
    float: none;
    margin: 0 auto;
}
.padding15_both{
	padding : 0px 15px!important;
}

.opacity_5
{
    opacity:0.5 !important;
}
.nav > li .underline:hover 
{
    text-decoration: underline;
}
 footer {
      background-color: #f2f2f2;
      padding: 25px;
      margin-top:40px;
    }