@CHARSET "UTF-8";

#viewwrop {
   width: 1000px;
   margin: 0 auto;
   min-height: 810px;
   border: 1px solid gray;
   margin-bottom: 20px;
}
#viewwrup {
   width: 1000px;
   margin: 0 auto;
   border: 1px solid gray;
   padding: 30px;
   min-height: 670px;
   margin-bottom: 40px;
}
#viewimg {
   width: 940px;
   padding-bottom: 130px;
   margin-left: 31px;
   border-bottom: 1px solid #cccccc;
}
#viewimg1 {
   width: 550px;
   padding-bottom: 8px;
   border-bottom: 1px solid #cccccc;
   position: relative; 
   float: right; 
   margin-right: 40px; 
   line-height: 40px;
   
}
#viewimg2 {
   width: 340px;
   padding-bottom: 8px;
   margin-left: 55px;
   border-bottom: 1px solid #cccccc;
}
#viewimg3 {
   width: 340px;
   padding-bottom: 10px;
   margin-left: 55px;
   border-bottom: 1px solid #cccccc;
}
footer {
      background-color: #f2f2f2;
      padding: 25px;
      margin-top:40px;
}