#roomwrop {
	width: 1600px;
	margin: 0 auto;
	min-height: 1600px;
	border: 1px solid gray;
	padding: 30px;
}

#listtitle {
	width: 1500px;
	margin-left: 20px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 20px;
}